.btn {
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
